@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family:'Metropolis';
    src: url('assets/fonts/Metropolis-Regular.otf') ;
}

@font-face {
    font-family: 'ITCAvantGarde';
    src: url('assets/fonts/ITCAvantGardeStd-Demi.otf') ;
}

body
{
    padding: 0 !important;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --grade-1:#70C17E;
    --grade-2:#3B56A5;
    --main-font:'Metropolis';
    --scndry-font:'poppins';
}

p,a
{
    font-family: var(--scndry-font);
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Metropolis';
}



#herosection
{
    background: black;
    background: url('../img/banner/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
}
#herosection .navbar
{
    background: transparent !important;
    padding: 20px 0;
    z-index: 2;
}
#navbarNav
{
    justify-content: end;
}
#navbarNav .navbar-nav
{
    gap:50px;
}
#navbarNav .navbar-nav .nav-link
{
    font-family: var(--scndry-font);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
#navbarNav .nav-link.active
{
    font-weight: 500 !important;
}
#navbarNav .navbar-brand img
{
    width: 90%;
}

#header
{
    position: relative;
    z-index:5;
}
.canvas-main-fixed
{
    position: fixed !important;
    width: 100%;
}


.canvas-main
{
    height: 100vh;
    width: 100%;
    background:#00000060;
    position: absolute;
    top:0;
    opacity: 0;
    transition: .3s ease;
    visibility: hidden;
    backdrop-filter: blur(10px);
}
.cnvsmain-active
{
    opacity: 1;
    visibility: visible;
}
.nav-canvas-items
{
    position: absolute;
    height: 0;
    width: 100%;
    background: #00000080;
    top:0;
    transition: .3s ease;
    backdrop-filter: blur(20px);
    overflow: hidden;
}
.canvas-active
{
    height: 40vh !important;
}
/* .item1
{
    width: 50px;
    height: 50px;
    background: red;
}
.item2
{
    width: 70px;
    height: 50px;
    background: #fff;
}
.item3
{
    width: 100px;
    height: 50px;
    background: blue;
} */
.nav-canvas-items .container
{
    display: flex;
    padding: 8% 0;
    position: relative;
}
.nav-items-tabs
{
    position: absolute;
    transition:0.5s ease;
    transform-origin: 0% 0%;
}
.nav-items-tabs.dnone
{
    scale: 0;
    visibility: hidden;
    /* transform: translateY(40px); */
    opacity: 0;
}

/* .industrysection
{
    opacity: 0;
    visibility: hidden;
}
.commitmentsection
{
    opacity: 0;
    visibility: hidden;
}
.companysection
{
    opacity: 0;
    visibility: hidden;
} */


.nav-drop-items.active
{
    background: transparent !important;
    position: relative;
}
.nav-drop-items:hover
{
    color: #fff !important;
}

.nav-drop-items::before
{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    /* background: red; */
    bottom: -5px;
    left: 0;
    border-radius: 20px;
background: linear-gradient(90deg, #70C17E 0%, rgba(112, 193, 126, 0.00) 71.87%);
transition: .3s ease;
}
.nav-drop-items.active::before
{
    width: 100%;
}
.nav-drop-items
{
    width: fit-content;
    position: relative;
    font-family: var(--scndry-font);
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
}
.industryitems .nav-pills
{
    gap:60px;
}


.inner-nav-items
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    text-decoration: none;
}
/* .industryitems .tab-pane
{
    margin-top:40px;
} */
.inner-nav-items img
{
    /* width: 40%; */
}
.inner-nav-items .inner-nav-title
{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #fff;
    line-height: 20px;
}
/* .industryitems .tab-content .tabpane-main
{
    display: flex;
    gap:60px;
} */





.nav-item-main
{
    margin-top:40px;
    display: flex;
    gap:60px;
}

.fade:not(.show)
{
    transform: translateY(20px);
    opacity: 0;
}
.fade
{
    transition: 0.2s ease 0s !important;
    transform-origin: 50% 50%; 
}









/* BANNER-CONTENT */

#herobanner-section
{
    height: calc(100vh - var(--header-height, 20px));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#herobanner-section .left
{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-top: -160px;
}
#herobanner-section .banner-title
{
    font-size: 72px;
    font-family: 'Metropolis';
    font-weight: 700;
    color: #fff;
}
#herobanner-section .banner-title .main-grade
{
    -webkit-text-fill-color: #ffffff;
    -webkit-transition: .3s ease;
    transition: .3s ease;

}
#herobanner-section .banner-title:hover .main-grade
{
    -webkit-text-fill-color: #ffffff00;
    /* -webkit-transition: .3s ease; */
    /* transition: .3s ease; */
}
#herobanner-section .banner-para
{
    color: #fff;
    line-height: 160%;
    width: 95%;
}
.main-grade
{
    background: -webkit-linear-gradient(0deg, var(--grade-1), var(--grade-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-btn
{
    text-decoration: none;
    background: #fff;
    padding: 10px 40px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 30px;
    font-family: var(--scndry-font);
    transition: .3s ease;
}
.banner-btn:hover
{
    background: var(--grade-1);
    color: #fff;
}

#herobanner-section .left .banner-social
{
    position: absolute;
    display: flex;
    gap:20px;
    bottom: 10%;
}
.banner-social a:hover path
{
    fill: var(--grade-1) !important;
}
path
{
    transition: .3s ease;
}





/* ABOUT SECTION */

#aboutsection
{
    padding: 10% 0;
}
#aboutsection .abt-main
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
.top-title
{
    font-size: 20px;
    font-weight: 500;
    margin: 0;;
}
.main-title
{
    font-size: 40px;
    font-family: 'Metropolis';
    font-weight: 700;
    margin: 0;;
}
.main-para
{
    text-align: center;
    font-size: 18px;
    /* line-height: 140%; */
}
.main-btn
{
    padding: 8px 40px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: .3s ease;
    font-family: var(--scndry-font);
    width: fit-content;
}
.main-btn:hover
{
    background: var(--grade-1);
}










/* SERVICES SECTION */
#servicesection
{
    padding: 0 0 10% 0;
}
#servicesection .services
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 40px;
    column-gap: 20px;
    margin-top:40px;
}
#servicesection .services .service-item
{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-decoration: none;
    color: #000;
}
#servicesection .service-head
{
    font-size: 24px;
    font-weight: 600;
    font-family: var(--scndry-font);
}
#servicesection .service-para
{
    margin-top: 15px;
}
#servicesection .services .img-div
{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.top-hexa
{
    position: absolute;
    bottom: -20%;
    right: -10%;
    transition: .3s ease;
}
#servicesection .services .img-div:hover .top-hexa
{
    scale: 2;
    transform: rotate(90deg);
}
#servicesection .services .img-div:hover img
{
    scale: 1.1;
}
#servicesection .services .img-div img
{
    transition: .3s ease;
}
#servicesection .services .service-desc
{
    padding:20px 30px;
}
.service-btn
{
    display: flex;
    padding:5px 40px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--scndry-font);
    width: fit-content;
    gap:20px;
    border:.5px solid #000;
    border-radius: 30px;
    transition: .3s ease;
}
.service-btn:hover
{
    background: #000;
    color: #fff;
}
.service-btn:hover img
{
    filter: invert(100%);
    transform: rotate(45deg);
}
.service-btn img
{
    aspect-ratio: 3/2;
    object-fit: contain;
    transition: .3s ease;
}
.service-btn p
{
    margin:0;
}
















/* Call Action Section */
#ctasection
{
    width: 100%;
    height: 60vh;
    background: url('../img/banner/cta-sec-bg.jpg');
    background-size: cover;
    background-attachment:fixed ;
    background-position: center center;
    /* margin-bottom: 10%; */
    position: relative;
    display: flex;
    align-items: center;
}
.back-logo
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    scale: 1;
    mix-blend-mode: hard-light;
}
.back-logo img
{
    scale: .9;
    opacity: .9;
    z-index:-1;

}
#ctasection .cta-main
{
    width: 100%;
    padding: 5% 2%;
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    z-index:1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
#ctasection .cta-main .main-title
{
    text-align: center;
    color: #fff;
}
#ctasection .cta-main .main-para
{
    color: #fff;
    font-size: 16px;
    padding: 0 15%;
    margin: 0;
}
#ctasection .cta-main .main-btn
{
    width: fit-content;
    color: #000;
    background: #fff;
}
#ctasection .cta-main .main-btn:hover
{
    background: #000;
    color: #fff;
}

















/* SOCIAL SECTION */
#social-section
{
    padding:10% 0;
}
#social-section .left
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#social-section .left .main-para span
{
    font-weight: 600;
}
#social-section .main-para
{
    text-align: left;
    font-size: 16px;
    margin: 0;
    padding-right: 120px;
}
#social-section .main-btn
{
    width: fit-content;
}

#social-section .right .img-div div
{
    position: relative;
    /* padding: 80px; */
}
#social-section .right .img-div .socialimg
{
    position: absolute;
    left: 0;
    top:0;
    /* padding: 80px; */
}








/* BLOG SECTION */
#blogsection
{
    padding: 2% 0 10% 0;
}
#blogsection .right
{
    display: flex;
    justify-content: end;
    align-items: end;
}
#blogsection .right .main-btn
{
    height: fit-content;
}
#blogsection .blog-main
{
    margin-top:40px;
    position: relative;
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    /* gap:20px; */
}
#blogsection .blog-main .img-div
{
    overflow: hidden;
    border-radius: 20px;
}
#blogsection .blog-main .img-div img
{
    transition: .3s ease;
    filter: saturate(0) ;
}
#blogsection .blog-main .img-div:hover img
{
    scale: 1.1;
}
#blogsection .blog-main .blog-desc .main-grade
{
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
    font-family: 'Metropolis';
}
#blogsection .blog-desc .top-blog
{
    display: flex;
    justify-content: space-between;
}
#blogsection .blog-desc
{
    padding: 20px;
    gap:60px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
#blogsection .blog-desc .top-blog p, #blogsection .blog-desc .top-blog i
{
    margin: 0;
    font-size: 14px;
}
.cal-sec
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cal-sec i
{
    margin-top: -3px;
}
#blogsection .blog-desc h4
{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Metropolis';
    line-height: 22px;
    margin: 0;
}
#blogsection .blog-desc p
{
    font-size: 16px;
    margin: 0;
}
#blogsection .blog-desc .service-btn
{
    font-weight: 500;
    font-size: 14px;
    padding: 5px 30px;
}


#blogsection .owl-nav
{
    display: none;
    align-items: center;
    justify-content: center;
    gap:70px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 13px;
    margin-bottom: -2px;
}
#blogsection .owl-dots
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top:20px ;
}
#blogsection .owl-dots button
{
    height: 10px;
    width: 10px;
    background: rgb(216, 216, 216);
    border-radius: 20px;
}
#blogsection .owl-dot
{
    transition: .3s ease;
}
#blogsection .owl-dot.active
{
    background: #000 !important;
    width: 30px;
}
#blogsection .owl-nav span
{
    display: none;
}
/* #blogsection .owl-prev
{
    background: url('../img/icons/owl-prev.svg');
    background-size: contain;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
#blogsection .owl-next
{
    background: url('../img/icons/owl-next.svg');
    background-size: contain;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
} */

















/* FOOTER SECTION */
#footersection
{
    margin: 0 5%;
}
#footersection .footer-main
{
    width: 100%;
    height: 100%;
    background: url(../img/banner/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding:5% 7%;
    border-radius: 40px;
}
#footersection .footer-1
{
    display: flex;
    flex-direction: column;
    gap:30px;
}
#footersection .footer-1 .footer-logo
{
    width: 70%;
}
#footersection .footer-1 .main-para
{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    margin: 0;
    width: 80%;
}
#footersection .footer-1 .newsletter .form input
{
    padding: 5px 20px;
    margin: 0;
    border: none;
    background: transparent;
    width: 100%;
    color: #fff;
}
#footersection .footer-1 .newsletter .form input:focus
{
    outline: none;
}
#footersection .footer-1 .newsletter .form input::placeholder
{
    font-size: 14px;
}
#footersection .footer-1 .newsletter .form
{
    display: flex;
    padding: 5px;
    width: fit-content;
    border-radius: 7px;
    border: 1px solid #3D3D3D;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}
#footersection .footer-1 .newsletter .form button
{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: #ffffffc4;
    transition: .3s ease;
}
#footersection .footer-1 .newsletter .form button:hover
{
    background: #fff;
}
#footersection .footer-1 .newsletter h5
{
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    font-family: var(--scndry-font);
}
#footersection .copyright
{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
#footersection .copyright p
{
    margin: 0;
}
#footersection .copyright svg
{
    width: 90%;
}
#footersection .copyright svg path
{
    fill: #000;
}
#footersection .copyright svg:hover path
{
    fill: var(--grade-1);
}
#footersection .copyright div
{
    display: flex;
    gap:20px;
}
#footersection .copyright .main-grade
{
    font-weight: 600;
}


#footersection .footer-cols
{
    color: #fff;
}
#footersection .footer-cols h4
{
    font-weight: 600;
    font-size: 22px;
    font-family: var(--scndry-font);
    margin-bottom: 30px;
}
#footersection .footer-cols ul
{
    margin: 0;
    padding: 0;
    gap:10px;
}
#footersection .footer-cols ul li
{
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--scndry-font);
    margin: 15px 0;
}
#footersection .footer-cols a
{
    text-decoration: none;
    color: #fff;
}








@media screen and (max-width: 1536px)
{
    .canvas-active
    {
        height: 50vh !important;
    }
    #ctasection
    {
        height: 70vh;
    }
    #herobanner-section .banner-title
    {
        font-size: 62px;
    }
    #herobanner-section .left
    {
        margin-top:-120px;
    }
    .banner-btn
    {
        font-size: 16px;
    }
}

/* Header 2 style */
@media only screen and (max-width: 992px)
{
    /* #header-2 .nav-link
    {
        color: #fff;
        font-size: 22px;
    }
    #header-2 .navbar-collapse
    {
        position: absolute;
        top: 100%;
        width: 100%;
        background: #000;
        left: 0;
        padding: 30px;
    }
    .navbar-collapse.collapse
    {
        transition: height 0.5s ease !important;
    }
    #header-2 .navbar
    {
        position: relative;
    }
    #header-2 .navbar-collapse.show .navbar
    {
        background:#000 !important;

    } */


    #herobanner-section .banner-para
    {
        width: 85%;
    }

    .offcanvas
    {
        background: #000 !important;
        position: fixed !important;
        height: 100vh;
    }
    .offcanvas li .nav-link
    {
        color: #fff;
        width: fit-content;
        font-size: 20px;
        padding: 10px;
    }
    .offcanvas .navbar-nav .nav-link.show
    {
        color: #fff !important;
    }
    .offcanvas-header .btn-close
    {
        background: url(../img/icons/offcanvas-close.svg);
        background-size: contain;
        width: 5px;
        height: 5px;
        opacity: 1;
        transform: translateX(-15px);
    }
    .navbar-toggler-icon
    {
        background-image: url(../img/icons/nav-bars.svg);
        background-size: contain;

    }
    .navbar-toggler
    {
        border:none;
    }
    .navbar-toggler:focus
    {
        box-shadow: none;
    }



    #herobanner-section .banner-title
    {
        font-size: 62px;
    }
    .main-title
    {
        font-size: 34px;
    }
    .top-title
    {
        font-size: 18px;
    }
    .main-para
    {
        font-size: 16px;
    }
    .main-btn
    {
        font-size: 16px;
    }



    #servicesection .services
    {
        grid-template-columns: repeat(1,1fr);
    }
    .top-hexa
    {
        right:-7%;
    }
    #servicesection .services .img-div
    {
        border-radius: 15px;
    }


    #ctasection
    {
        height: 40vh;
    }
    #ctasection .cta-main .main-para
    {
        padding: 0 8%;
    }

    #social-section .main-para
    {
        padding-right: 0;
    }
    #social-section .right .img-div
    {
        padding: 60px;
    }

    #blogsection .blog-desc h4
    {
        font-size: 18px;
        margin-top: 10px;
    }
    #blogsection .blog-desc
    {
        gap:10px;
    }
    #blogsection .blog-desc p
    {
        font-size: 14px;
    }
    #blogsection .blog-main .blog-desc .main-grade
    {
        font-size: 16px;
    }



    #footersection .footer-main
    {
        padding: 6%;
        border-radius: 30px;
    }
    #footersection .footer-1 .newsletter .form input
    {
        /* width: 200px; */
    }
    #footersection .footer-cols ul li
    {
        margin:10px 0;
    }
    #footersection .footer-cols h4
    {
        margin:30px 0 20px 0;
        font-size: 20px;
    }
    #footersection .footer-1 .newsletter .form
    {
        width: 95%;
    }
    #footersection .copyright p
    {
        font-size: 14px;
    }
    #footersection
    {
        margin :0 2%;
    }
    #footersection .container
    {
        padding: 0;
    }
    #footersection .footer-1 .newsletter h5
    {
        font-weight: 500;
    }
    #footersection .footer-1 .main-para
    {
        width: 100%;
    }
    #footersection .copyright div
    {
        gap:0px;
    }
    #footersection .copyright svg
    {
        width: 70%;
    }


    


    .mobilemenu .navbar-nav .dropdown-menu
    {
        transition: .3s ease !important;
        /* transform:translateX(40px) !important; */
        scale: 0;
        padding: 10px 0 20px 0;
        width: 100%;
        /* background: transparent; */
    }
    .mobilemenu .navbar-nav .dropdown-menu.show
    {
        position: relative !important;
        transform: none !important;
        inset: auto !important;
        scale: 1;
    }
    .mobilemenu .dropdown-menu li
    {
        padding: 10px 20px;
    }
    .mobilemenu .dropdown-menu li a
    {
        /* color: #fff; */
        /* background: #fff;
        padding:5px 20px;
        border-radius: 5px; */
    }
    .mobilemenu .innerdrop
    {
        position: relative;
        padding: 0;
        width: fit-content;
    }
    .mobilemenu .innerdrop::after
    {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(to right, var(--grade-1), transparent);
    }
    .mobilemenu .innerdrop span
    {
        font-weight: 600;
        margin-left: 10px;
    }

    /* .mobilemenu .innerdrop-item
    {
        scale: 1;
        transform: translateX(0);
        transition: .3s ease;
        opacity: 1;
        visibility: visible;
        height: auto;
    } */
    .mobilemenu .innerdrop-item.dnone
    {
        /* scale: 0; */
        display: none;
        /* height: 0; */
        /* opacity: 0; */
        /* visibility: hidden; */
        /* transform: translateX(80px); */
        /* height: 0; */
    }
    .mobilemenu .innerdrop-item li
    {
        margin: 15px 0;
    }
    .mobilemenu .innerdrop-item li a
    {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        display: flex;
    }
    .mobilemenu .innerdrop-item li a span
    {
        font-weight: 600;
        margin-right:10px;
        color: var(--grade-1);
    }
    .mobilemenu .innerdrop-item li a p
    {
        margin:0;
    }

}






@media only screen and (max-width: 768px)
{
    #herobanner-section .left
    {
        padding-left: 10px;
        margin-top:-200px;
    }
    #herobanner-section .banner-title
    {
        font-size: 42px;
    }
    #herobanner-section .banner-para
    {
        width: 90%;
        font-size: 14px;
        /* letter-spacing: .2px; */
        line-height: 140%;
    }
    #herosection
    {
        background-position: 65%;
    }

    #aboutsection
    {
        padding: 20% 0;
    }
    #aboutsection .abt-main
    {
        align-items: start;
    }
    #aboutsection .top-title
    {
        text-align: left !important;
    }
    .main-para
    {
        font-size: 16px;
        text-align: left;
    }
    .main-btn
    {
        font-size: 14px;
    }
    .main-title
    {
        font-size: 30px;
    }
    .top-title
    {
        font-size: 16px;
    }






    #servicesection .services .service-desc
    {
        padding: 15px 20px;
    }
    #servicesection .service-head
    {
        font-size:20px;
    }
    .service-btn
    {
        padding: 5px 30px;
    }
    #servicesection .service-btn p
    {
        font-size: 14px;
    }
    .service-btn img
    {
        width: 14px;
    }
    #servicesection .service-para
    {
        font-size: 14px;
    }
    #servicesection
    {
        padding: 0 0 20% 0;
    }
    #servicesection .services
    {
        margin-top:30px;
    }
    .top-hexa
    {
        scale:.6;
        right:-15%;
        bottom: -40%;
    }




    #ctasection
    {
        height: 55vh;
        overflow: hidden;
    }
    .back-logo img
    {
        scale:.8;
    }

    #ctasection .cta-main .main-para
    {
        padding: 0 4%;
        text-align: center;
        font-size: 14px;
    }
    #ctasection .container
    {
        padding: 0 10px !important;
    }
    #ctasection .cta-main
    {
        gap:10px;
        padding: 8% 2%;
    }
    #ctasection .cta-main .main-title
    {
        font-size: 24px;
    }
    #ctasection .cta-main .main-btn
    {
        padding: 5px 30px;
    }
    


    #social-section
    {
        padding: 20% 0;
    }
    #social-section .left
    {
        gap:15px;
    }
    #social-section .right .img-div
    {
        padding: 0 20px 50px;
    }

    #blogsection
    {
        padding: 5% 0 20% 0;
    }
    #blogsection .right
    {
        /* justify-content: start; */
    }
    #blogsection .owl-dot.active
    {
        width: 25px;
    }
    #blogsection .blog-desc .top-blog p, #blogsection .blog-desc .top-blog i
    {
        font-size: 12px;
    }
    #blogsection .blog-desc h4
    {
        font-size: 16px;
    }
    .cal-sec
    {
        gap:5px;
    }



    #footersection
    {
        margin:0 10px;
    }
    #footersection .footer-main
    {
        padding: 10% 4%;
    }
    #footersection .footer-1 .footer-logo
    {
        width: 90%;
    }

    #footersection .copyright
    {
        flex-direction: column;
    }
    #footersection .copyright p
    {
        text-align: center;
    }
    #footersection .copyright div
    {
        padding-top: 10px;
        justify-content: center;
    }


    #herosection .navbar-brand img
    {
        width: 80%;
    }


    .container
    {
        padding: 0 20px !important;
    }
    #herosection .container
    {
        padding: 0 10px !important;
    }
    
}


@media only screen and (max-width: 380px)
{
    #herobanner-section .left .banner-social
    {
        gap:15px;
    }
    #herobanner-section .left .banner-social svg
    {
        width: 20px;
    }
    .container
    {
        padding: 0 15px !important;
    }
    #herosection .container
    {
        padding: 0 5px !important;
    }
    #herobanner-section .banner-title
    {
        font-size: 36px;
    }
    #herobanner-section .left
    {
        margin-top:-100px;
    }

    .main-title
    {
        font-size: 26px;
    }
    .main-para
    {
        font-size: 14px;
    }
    .main-btn
    {
        padding: 8px 30px;
    }
    .banner-btn
    {
        font-size: 14px;
        padding: 8px 30px;
    }
    .service-btn
    {
        border: 1px solid #000;
    }
    #blogsection .blog-desc .service-btn
    {
        font-size: 12px;
    }
    .back-logo img
    {
        scale: .7;
    }
    #blogsection .blog-main
    {
        margin-top:20px;
    }

    #social-section .main-para
    {
        font-size: 14px;
    }




    #footersection .footer-main
    {
        background: #000000;
        border-radius: 20px;
        padding: 5% 4%;
    }
    #footersection
    {
        margin:0;
    }
    #footersection .footer-1 .footer-logo
    {
        padding: 10px 0 0 0;
    }
    #footersection .footer-1 .main-para
    {
        font-size: 14px;
    }
}